In [1]:
from warnings import filterwarnings

import numpy as np
import pandas as pd
from sklearn.ensemble import BaggingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
filterwarnings("ignore")

# Задание 7
Объёмная и содержательная практика у нас ещё впереди, но в качестве разминки давайте поработаем с уже известным вам датасетом о вине, который можно скачать [здесь](https://lms.skillfactory.ru/assets/courseware/v1/805b5c231251e174abb4fdbbd391adc3/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block/wineQualityReds.zip).

Ранее вы обучали на данных только один алгоритм, а теперь мы попробуем сравнить несколько.

Подготовьте данные к классификации. Условно разделите вино на хорошее и плохое. Хорошим вином будем называть то, параметр quality которого — 6 и более.

In [3]:
df = pd.read_csv("wineQualityReds.csv", index_col=0)

In [4]:
df.head()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
y = np.where(df.quality >=6, 1, 0)

In [6]:
X = df.drop(columns="quality")

Сравните несколько методов классификации: логистическую регрессию, дерево решений и бэггинг. Это позволит вам увидеть, как меняется качество в зависимости от выбора того или иного алгоритма.

Разделите выборку на обучающую и тестовую в соотношении 70/30, в качестве значения параметра `random_state` возьмите число 42.

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

Для начала обучите два классификатора: логистическую регрессию (с параметрами по умолчанию) и дерево решений (`random_state` – 42, `max_depth` — 10).

Введите значение *F1-score* для классификатора, который показал наилучшее значение. Ответ **округлите до трёх знаков после точки-разделителя**.

In [8]:
logreg = LogisticRegression()

In [9]:
logreg.fit(X_train, y_train)

LogisticRegression()

In [10]:
y_pred = logreg.predict(X_test)

In [11]:
round(f1_score(y_pred, y_test), 3)

0.754

In [12]:
tree = DecisionTreeClassifier(max_depth=10, random_state=42)

In [13]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=10, random_state=42)

In [14]:
y_pred = tree.predict(X_test)

In [15]:
round(f1_score(y_pred, y_test), 3)

0.793